@font-face {
    font-family: 'zabras';
    src: url('fonts/zabars.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

body {
    margin: 0;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/5_background/desert-background4.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
}

canvas {
    background-color: black;
    display: block;
}

#game-container {
    position: relative;
    width: 720px;
    height: 480px;
}

.d_none {
    display: none;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 0;
    text-align: center;
    color: black;
    margin-left: 30px;
}

button {
    display: block;
}

.impressum {
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.start_screen {
    width: 720px;
    height: 480px;
    background-image: url("./img/9_intro_outro_screens/start/startscreen_1.png");
    background-size: 100% 100%;
    position: relative;
}

.dialog_impressum img {
    height: 40px;
}

.dialog_impressum img:hover {
    cursor: pointer;
}
 

.header {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;
}

.start_screen img {
    margin-top: 3px;
    height: 30px;
    width: 30px;
}

.start_screen p {
    font-size: 20px;
    font-weight: 500;
    margin: 5px;
    
}

.start_screen p:hover {
    cursor: pointer;
}

.btn {
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    height: 40px;
    width: 150px;
    background-color: #FEB13B;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 0 1px rgb(159, 59, 24);
}

button:hover {
    cursor: pointer;
}

.info_div {
    background-color: #FEB13B;
    width: 720px;
    height: 480px;
}

.impressum_content h2 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    font-size: 40px;
}

.impressum_content {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog_bg {
    width: 720px;
    height: 480px;
    background-image: url('img/5_background/desert-background4.png');
    position: absolute;
    margin-top: 82px;
    color: #FEB13B;
    padding: 10px;
}

.won_bg {
    width: 720px;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.25);
    background-size: 100%;
    position: absolute;
    z-index: 100;
    margin-top: 84px;
}

.won_bg img:hover {
    cursor: pointer;
} 

.lost_bg {
    width: 720px;
    height: 480px;
    background-size: 100%;
    position: absolute;
    z-index: 100;
    margin-top: 84px;
}

.lost_bg img:hover {
    cursor: pointer;
} 

.endscreen_button {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    position: absolute;
    width: 100%;
}

.endscreen_button img {
    height: 50px;
    margin-right: 7px;
}

.endscreen_img {
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.endscreen_img img {
    height: 400px;
}

.endscreen_img_lost img {
    height: 480px;
    width: 720px;
}

h2 {
    color: black;
    text-align: center;
    margin-top: -30px;
    margin-left: 57px;
}

.control-buttons-computer {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.computer {
    display: flex;
    justify-content: space-around;
    margin-top: -20px;
}

.dialog-content img {
    height: 40px;
}

.dialog-content img:hover {
    cursor: pointer;
}

.control-left-and-right {
    text-align: center;
}

.control-left-and-right img {
    height: 100px;
}

.left-and-right-description {
    display: flex;
    margin-top: -35px;
    gap: 57px;
    letter-spacing: 1px;
}

.control-jump img {
    height: 80px;
    margin-top: 20px;
}

.jump-description {
    text-align: center;
    margin-top: -38px;
    letter-spacing: 1px;
}

.control-throw img {
    height: 50px;
    margin-top: 37px;
    margin-right: 0px;
}

.throw-description {
    text-align: center;
    margin-top: -24px;
    letter-spacing: 1px;
}

.control-buttons-mobile {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 18px;
    margin-top: 40px;
    font-weight: 600;
}

.mobile_phone_control {
    margin-top: 100px;
}

.mobile-icon-left-right {
    margin-left: -10px;
}

.mobile-icon-left-right img {
    height: 50px;
    margin-right: 20px;
}

.mobile-control-jump img {
    height: 50px;
}

.mobile-jump-description {
    margin-top: -34px;
    letter-spacing: 1px;
    margin-left: 9px;
}

.mobile-control-throw {
    margin-top: 5px;
}

.mobile-control-throw img {
    margin-left: 5px;
}

.game_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.game_buttons img {
    margin-top: -5px;
    margin-right: 10px;
}

.game_buttons img:hover {
    cursor: pointer;
}

.margin_top {
    margin-top: 4px;
}

.mobile_buttons {
    position: absolute;
    bottom: 0px;
    display: none;
}

.mobile_buttons_running img {
    height: 60px;
}

.mobile_buttons_jump_throw img {
    height: 60px;
}

.run_right_button {
    margin-left: 30px;
}

.mobile_bottle_button {
    margin-bottom: 8px;
    margin-right: 30px;
}

@media only screen and (min-width: 820px) and (max-width: 820px) and (min-height: 1180px) and (max-height: 1180px) {
    .turn_mobile {
        background-image: url('./img/keyboard/mobile_rotate.webp');
        background-size: cover;
        background-position: center;
        position: absolute;
        z-index: 100;
        width: 100vw;
        height: 100vh;
    }
}

@media only screen and (min-width: 768px) and (max-width: 768px) and (min-height: 1024px) and (max-height: 1024px) {
    .turn_mobile {
        background-image: url('./img/keyboard/mobile_rotate.webp');
        background-size: cover;
        background-position: center;
        position: absolute;
        z-index: 100;
        width: 100vw;
        height: 100vh;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1025px) and (min-height: 1366px) and (max-height: 1367px) {
    .turn_mobile {
        background-image: url('./img/keyboard/mobile_rotate.webp');
        background-size: cover;
        background-position: center;
        position: absolute;
        z-index: 100;
        width: 100vw;
        height: 100vh;
    }
}

@media only screen and (min-width: 1366px) and (max-width: 1367px) and (min-height: 1024px) and (max-height: 1025px) {
    .mobile_buttons {
        position: absolute;
        bottom: 0px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

@media only screen and (min-width: 1180px) and (max-width: 1180px) and (min-height: 820px) and (max-height: 820px) {
    .mobile_buttons {
        position: absolute;
        bottom: 0px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) and (min-height: 768px) and (max-height: 768px) {
    .mobile_buttons {
        position: absolute;
        bottom: 0px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

@media only screen and (max-width: 540px) {
    .turn_mobile {
        background-image: url('./img/keyboard/mobile_rotate.webp');
        background-size: cover;
        background-position: center;
        position: absolute;
        z-index: 100;
        width: 100vw;
        height: 100vh;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100%;
    }

    #game-container {
        height: 100%;
    }

    .endscreen_lost {
        height: 100%;
    }

    .endscreen_won {
        height: 100%;
    }

    .endscreen_img_lost img {
        height: 100%;
        margin: 0px;
    }

    .lost_bg {
        margin: 0px;
        height: 100%;
    }

    .won_bg {
        margin: 0px;
        height: 100%;
    }

    .endscreen_img {
        height: 100%;
    }

    .endscreen_img img {
        height: 300px;
    }
}

@media only screen and (max-width: 1000px) {
    h1 {
        display: none;
    }

    canvas {
        width: 100%;
    }

    #game-container {
        width: 100%;
        margin: -60;
    }

    .endscreen_lost {
        width: 100%;
    }

    .endscreen_won {
        width: 100%;
    }

    .endscreen_img_lost img {
        width: 100%;
    }

    .endscreen_img img {
        margin: 0;
        display: none;
    }

    .endscreen_img {
        display: flex;
        justify-content: center;
    }

    .lost_bg {
        width: 100%;
    }

    .won_bg {
        width: 100%;
    }

    .start_screen {
        width: 100vw;
    }

    .dialog_bg {
        width: 100vw;
        height: 100vh;
        margin-top: 0px;
        margin: 0px;
        padding: 0px;
    }

    h2 {
        font-size: 18px;
    }

    .dialog-content {
        height: 240px;
        width: 100vw;
    }

    .dialog-content img {
        margin-top: 10px;
        margin-left: 10px;
    }

    .computer {
        margin-top: 0px;
    }

    p {
        font-size: 14px;
    }

    .control-left-and-right img {
        height: 50px;
    }

    .left-and-right-description {
        gap: 30px;
        margin-top: -36px;
        margin-left: 10px;
    }

    .control-jump {
        margin-top: 10px;
    }

    .control-jump img {
        height: 45px;
    }

    .jump-description {
        margin-top: -37px;
        margin-left: 10px;
    }

    .control-throw {
        margin-top: -10px;
    }

    .control-throw img {
        height: 35px;
        margin-top: 33px;
        margin-left: 3px;
    }

    .mobile_phone_control {
        margin-top: 65px;
    }

    .mobile-icon-left-right {
        margin-left: -11px;
    }

    .mobile-icon-left-right img {
        height: 35px;
    }

    .mobile-control-jump img {
        height: 35px;
        margin-right: 40px;
    }

    .mobile-jump-description {
        margin-top: -35px;
        margin-left: 10px;
    }

    .mobile-control-throw img {
        height: 30px;
        margin-right: 4px;
    }

    .game_buttons {
        margin-top: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .mobile_buttons {
        position: absolute;
        bottom: 0px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}