body {
    margin: 0;
    font-family: 'Arima';
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/5_background/desert-background4.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

canvas {
    background-color: black;
    display: block;
}

#game-container {
    position: relative;
    width: 720px;
    height: 480px;
}

.d_none {
    display: none;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 0;
    text-align: center;
    color: black;
}

button {
    display: block;
}

.start_screen {
    width: 720px;
    height: 480px;
    background-image: url("./img/9_intro_outro_screens/start/startscreen_1.png");
    background-size: 100% 100%;
    position: relative;
}

.header {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;
}

.start_screen img {
    margin-top: 3px;
    height: 30px;
    width: 30px;
}

.btn {
    font-family: 'Arima';
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
    height: 40px;
    width: 150px;
    background-color: #FEB13B;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 0 1px rgb(159, 59, 24);
}

button:hover {
    cursor: pointer;
}

.info_div {
    background-color: #FEB13B;
    width: 720px;
    height: 480px;
}

.dialog_bg {
    width: 720px;
    height: 480px;
    background-image: url('img/5_background/desert-background4.png');
    position: absolute;
    margin-top: 110px;
    color: #FEB13B;
    padding: 10px;
}

h2 {
    color: black;
    text-align: center;
    margin-top: -30px;
    margin-left: 57px;
}

.control-buttons-computer {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.computer {
    display: flex;
    justify-content: space-around;
    margin-top: -20px;
}

.dialog-content img {
    height: 40px;
}

.dialog-content img:hover {
    cursor: pointer;
}

.control-left-and-right {
    text-align: center;
}

.control-left-and-right img {
    height: 100px;
}

.left-and-right-description {
    display: flex;
    margin-top: -40px;
    gap: 40px;
}

.control-jump img {
    height: 80px;
    margin-top: 20px;
}

.jump-description {
    text-align: center;
    margin-top: -45px;
}

.control-throw img {
    height: 50px;
    margin-top: 37px;
    margin-right: 0px;
}

.throw-description {
    text-align: center;
    margin-top: -30px;
}

.control-buttons-mobile {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 18px;
    margin-top: 40px;
    font-weight: 600;
}

.mobile_phone_control {
    margin-top: 100px;
}

.mobile-icon-left-right {
    margin-left: -10px;
}

.mobile-icon-left-right img {
    height: 50px;
    margin-right: 20px;
}

.mobile-control-jump img {
    height: 50px;
}

.mobile-jump-description {
    margin-top: -40px;
    margin-left: 5px;
}

.mobile-control-throw {
    margin-top: 5px;
}

.mobile-control-throw img {
    margin-left: 5px;
}

.music_and_sound_settings {
    color: black;
}

.music_and_sound_settings p:hover {
    cursor: pointer;
}

.turn_music_off_on {
    display: flex;
    justify-content: center;
    align-items: center;
}

.turn_music_off_on img {
    height: 75px;
    margin-right: 25px;
}

.turn_music_off_on p {
    margin-left: 10px;
}

.music_sound_button p {
    border: 1px solid black;
    padding: 4px;
    border-radius: 25px;
}

.music_on {
    border: 1px solid black;
    padding: 4px;
    border-radius: 25px;
}

.music_off_button {
    margin-top: 3px;
    margin-right: 3px;
}

.bg-color {
    background-color: #FEB13B;
}

.turn_sound_off_on {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 10px;
    gap: 20px;
}

.turn_sound_off_on p {
    margin-left: 10px;
}

.turn_sound_off_on img {
    height: 50px;
    margin-left: 0px;
}

.music_settings {
    display: flex;
    align-items: center;
}

.sound_settings {
    display: flex;
    padding-left: 20px;
    align-items: center;
}

.game_buttons {
    margin-right: 300px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.game_buttons img {
    margin-top: -5px;
    margin-right: 10px;
}

.game_buttons img:hover {
    cursor: pointer;
}

.margin_top {
    margin-top: 4px;
}